@import "library";
@import "reset";

// Global templates

%group {
    &:after {
        display: table;
        clear: both;
        content: "";
    }
}

%container {
    margin: 0 auto;
    max-width: $wrap_width;
    padding: 0 $gutter_width;
}

%content {
    font-size: 16px;
}

///////////////////////

.vendor {
            padding: 2%;
            margin-bottom: 30px;
          }

video {
            max-width: 100%;
            height: auto;
          }

          iframe,
          embed,
          object {
            max-width: 100%;
          }

/////////////////////////////////////////

// Global tags

.path {
  stroke-dasharray: 100;
  //stroke-dashoffset: 0;
  animation: dash 5s linear forwards;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

body {
    font-family: "Sarine-Regular", Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.4;
    background: #8AFFC2;
}

a {
    color: #8AFFC2;
}

p {
    margin-bottom: 1.1em;
}

h1 {
    font-family: "Sarine-Black", Helvetica, sans-serif;
    font-size: 38px;
    line-height: 45px;
    color: #F24E52;
    padding-bottom: 25px;
    padding-top: 25px;
}

h2 {
    font-family: "Sarine-Medium", Helvetica, sans-serif;
    font-size: 45px;
    color: #F24E52;
    padding-top: 100px;
    padding-bottom: 95px;
    line-height: 0px;
}

h2 a {
        color: #F24E52;
        text-decoration: none;
        border-bottom: 5px solid #F24E52;
        padding-bottom: 5px;
}

h3 {
    font-family: "Sarine-Light", Helvetica, sans-serif;
    font-size: 15px;
    color: #F24E52;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 auto;
    padding-bottom: 60px;
}

    h3 a {
        color: #F24E52;
        text-decoration: none;
        border-bottom: 1px solid #F24E52;
        padding-bottom: 1px;
          -o-transition:.5s;
          -ms-transition:.5s;
          -moz-transition:.5s;
          -webkit-transition:.5s;
    }

    h3 a:hover {
        color: #D9D5C8;
        border-bottom: 1px solid #D9D5C8;
        padding-top: 1px;
    }

h4 {
    font-family: "Sarine-Bold", Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.2px;
}

h4 a{
    text-decoration: none
}

#bigTriangleColor {
    pointer-events: none;
}

#bigTriangleColor path {
    fill: #FCF7E5;
    stroke: #FCF7E5;
    stroke-width: 2;
}

#bigTriangleColor2 {
    pointer-events: none;
}

#bigTriangleColor2 path {
    fill: #8AFFC2;
    stroke: #8AFFC2;
    stroke-width: 2;
}

#bigTriangleColor3 {
    pointer-events: none;
    position: absolute;
    z-index: 50;
}

#bigTriangleColor3 path {
    fill: #8AFFC2;
    stroke: #8AFFC2;
    stroke-width: 2;
}

.gray {
    margin-top: 50px;
    margin-bottom: 60px;
    border-top: 1px solid #D9D5C8;
    border-bottom: 1px solid #D9D5C8;
}

// Everything else

strong {
    font-family: "Sarine-Bold", Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

em {
    font-family: "Sarine-LightItalic", Helvetica, sans-serif;
}

hr {
   display: block;
   position: relative;
   padding: 0;
   height: 0;
   width: 100%;
   max-height: 0;
   font-size: 1px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 1px solid #D9D5C8;
   border-bottom: 1px solid #D9D5C8;
}

::selection {
  color: #F24E52;
  background: #8AFFC2;
}

::-moz-selection {
  color: #F24E52;
  background: #8AFFC2;
}

/* ------- MOBILE FIRST --------- */

.intro {
    font-size: 16px;
    background-color: #FCF7E5;
    height: 775px;
    text-align: center;
    position:relative;
    padding-top: 180px;
}

.content {
    //background: white;
    padding-top: 40px;
    height: 3400px;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.box {
    vertical-align: top;
    background-size: cover;
    height: 180px;
    margin: 0 auto 200px;
    width: 180px;
    padding-top: 250px;
    text-align: center;
    position: relative;
}

.with-video {
    //background-color: blue;
    padding-top: 0px;
    background: none;
}

.info {
    font-size: 24px;
    background-color: #FCF7E5;
    height: 1600px;
    text-align: center;
    padding-top: 0px;
}

.info-text {
    text-align: center;
    width: 90%; 
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 60px;
}

.credits {
    background-color: #8AFFC2;
}

.credits-text {
    text-align: center;
    width: 90%; 
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 15px;
}

.backtotop {
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: #66EDA3;
    height: 85px;
}

.ribbon {
    left:180px;
    position:absolute;
    top:-20px;
    z-index: 100;
}

.ribbon:hover {
    top: 0px;
}


/* ------- SPECIAL DESKTOP SPECS --------- */

@media screen and (min-width: 480px) {
    h1 {
        font-size: 60px;
        line-height: 63px;
    }

    h3 {
    font-size: 16px;
    line-height: 25px;
}

    h3 {
        max-width: 700px;
    }

    .content {
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        //padding-left: 20px;
        height: 1100px;
    }

    img {
        margin-left: -10px;
    }

    .box {
        width: 250px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
        display: inline-block;
        //margin-right: 20px;
        text-align: center;
    }

     .intro {
        font-size: 12px;
        text-align: center;
        max-width: auto;
        margin: 0 auto;
        padding-left: 20px;
        padding-top: 170px;
        width: 100%;
    }

    .info {
        height: 1350px;
        font-size: 12px;
        text-align: center;
        max-width: auto;
        margin: 0 auto;
        padding-left: 20px;
    }

    .credits {
        font-size: 12px;
        text-align: center;
        max-width: auto;
        margin: 0 auto;
        padding-left: 20px;
    }

    .credits-text {
        width: 90%;
    }

    hr {
    margin-bottom: 70px;
    }

}

/* ------- SMALLER STUFFS  --------- */


@media screen and (min-width: 793px) and (max-width: 1169px) {
    .credits-text {
        width: 75%;
    }

    .intro {
        height: 700px;
        max-width: 100%;
    }

    .content {
        height: 1850px;
    }
}

@media screen and (min-width: 575px) and (max-width: 792px) {
    
    //.intro {
        //height: 800px;
        //max-width: 100%;
    //}


    .content {
        height: 1900px;
    }

    .info {
        height: 1400px;
    }

    .ribbon {
    left:125px;
    }

}

@media screen and (min-width: 480px) and (max-width: 574px) {
    
    .intro {
        height: 800px;
        max-width: 100%;
    }


    .content {
        height: 3400px;
    }

    .info {
        height: 1500px;
    }

    .ribbon {
    left:50px;
    }

}